* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Nunito;
    background: #23272B;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.column.column-tiny {
    flex: none;
}

.mb-2 {
    margin-bottom: 24px;
}

.ml-2 {
    margin-left: 24px;
}

.mt-2 {
    margin-top: 24px;
}

.wrapper {
    margin: 64px auto;
    width: 90%;
    max-width: 720px;
}

input, button {
    font: inherit;
    border-radius: 4px;
}

input {
    padding: 12px;
    width: 100%;
    border: none;
    background: #2E3439;
    color: #FFF;
}

input:focus, button:focus {
    outline: 0;
}

button {
    padding: 12px 24px;
    background: #4AD3C8;
    color: #FFF;
    border: none;
}

button:hover {
    cursor: pointer;
}

button.wide {
    background: #23272B;
    width: 100%;
}

ul.threads {
    list-style: none;
}

ul.threads > li {
    margin-top: 24px;
    padding: 24px;
    background: #2E3439;
    color: #FFF;
    border-radius: 4px;
}

ul.threads > li:first-child {
    margin-top: 0;
}

ul.threads input {
    background: #23272B;
}

ul.comments {
    list-style: none;
}

ul.comments li {
    margin-top: 24px;
    padding: 24px;
    border: 1px solid #23272B;
    border-radius: 4px;
}

.error {
    display: block;
    padding: 12px;
    background: #EF4B4D;
    color: #FFF;
    border-radius: 4px;
    text-align: center;
}
